
body{
    background-color: rgb(189, 214, 247);
    color : black
}
p.hier{
    color: red;
}
.text::first-letter{
    color: white;
    font-size: 230%;
    background-color: rgb(0, 0, 0);
    padding: 6px 3px; 
    margin-right: 6px;
    float: left; 

}

p {
    color: black;
    font-family: 'Source Sans Pro', sans serif;

}

[href]{
    background: rgb(171, 231, 171);
    color: blue;
}
alt{
    background: black;
    color: blue;

}
#Link{
    color: black;

}
a{
    font: Courier;
    font: 14px Courier;
    text-decoration: none;
    color: white;
    padding: 0px 5 px 0 px 5px;
    border-right: 4px solid rgb(5, 73, 94);

}
.Startseite{
    height: 30 px;
    background: brgb(55, 155, 212);
    padding-top: 7px;
    padding-left: 5px;
    margin-top: 20px;
    box-shadow: 4px 6px rgb(5, 73, 94);
    overflow: hidden;
}
h3{
    width: 300px;
    border: 3px white;
    padding: 10px;
    margin: 10px;
}
.relative {
    position: relative;
    left: 4px;
    border: 5px solid #73AD21;

}
label{
    clear: both;
    line-height: 3em;
    margin-right: 1em;

}
a:hover {
    background-color: yellow;

}
li:first-child{
    color:orange;

}
.box{
    width: 900px;
    border: 15px rgb(189, 214, 247);
    padding: 1px;
    margin: 25px;
}
div.blau{
    width: 100px;
    height: 100px; 
    background:blue;
    transition: width 2s;
}
div:hover {
    width: 300px;
}
.relative{
    background-color: white;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 15px; 
}
body{
    background-color: rgb(154, 219, 154);
}
@media (min-width: 600px){
    body{
        background-color: rgb(189, 214, 247);
    }
}
